body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  .calculator-box {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  .subject {
    margin-bottom: 20px;
  }
  .grade {
    margin-bottom: 40px; /* Adjust the value as needed */
    padding-bottom: 40px;
  }
  
  
  h1 {
    font-size: 28px;
    font-weight: bold;
    color: #4CAF50;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  button {
    padding: 10px 20px;
    margin: 20px 0;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  button:active {
    background-color: #3e8e41;
  }
  
  #cgpaResult {
    font-size: 20px;
    font-weight: bold;
    color: #4CAF50;
  }
  